#!/bin/bash

OS_NAME=`uname -s`

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# Recursively delete `.DS_Store` files
alias ds_store_cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

## Mac OS X specifics
if [[ "$OS_NAME" = "Darwin" ]] ; then

    # Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
    alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup'

    # Show/hide hidden files in Finder
    alias show_all_files="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
    alias hide_all_files="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

    # Hide/show all desktop icons (useful when presenting)
    alias hide_desktop_icon="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
    alias show_desktop_icon="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

    # Firefox Profile Manager
    alias ffp="/Applications/Firefox.app/Contents/MacOS/firefox-bin -ProfileManager"

    # PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
    alias plistbuddy="/usr/libexec/PlistBuddy"

fi
